.header-menu ul li a {
    font-size: 12px;
}

.single-benefit .title {
    font-size: 22px;
}

.slider-section .single-slider {
    height: 100vh;
}

.slider-content .title {
    font-size: 56px;
}

@media only screen and (max-width: 767px) {
    .slider-content .title {
        font-size: 32px;
    }
}

.header-search {
    margin-bottom: 20px;
}
